// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Components
  ======================================================================*/
//  color
$orange : #d86f44;
$darkblue: #516a96;

//  time
$globalDelay: .2s;

//  select
.select {
  position: relative;
  width: 214px;
  color: $darkblue;

  &.active {
    z-index: 1000;

    .icon {
      transform: rotate(180deg);
    }

    .select-bd {
      display: block;
      z-index: 1000;
    }
  }

  &.scroll {
    .bd {
      padding-bottom: 30px;

      .triangle {
        display: block;
      }
    }
  }
}

.select-hd {
  height: 55px;
  padding: 0 22px;
  line-height: 55px;
  font-size: 18px;
  background: url("../images/select-hd-bg.png") no-repeat;
  cursor: pointer;

  .icon {
    position: absolute;
    right: 19px;
    top: 24px;
    width: 17px;
    height: 10px;
    background: url("../images/icon-triangle-down.png") no-repeat;
    transition:  all .3s;
    transform-origin: center center;
  }
}

//  small size
.select.small {
  width: 135px;
  text-align: left;

  .select-hd {
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    font-size: 12px;
    background: url("../images/select-hd-small-bg.png") no-repeat;

    .icon {
      width: 11px;
      height: 7px;
      right: 10px;
      top: 14px;
      background: url("../images/icon-triangle-down-small.png") no-repeat;
    }
  }

  .select-bd {
    top: 35px;

    .bd {
      background: url("../images/select-bd-small-bg.png") repeat-y;
    }

    .triangle {
      width: 11px;
      height: 7px;
      left: 60px;
      background: url("../images/icon-triangle-down-small.png") no-repeat;
      animation: breath 1.2s .2s infinite;
    }

    .item {
      padding: 0 10px;
      height: 20px;
      line-height: 20px;
      margin-bottom: 3px;
      font-size: 12px;
      cursor: pointer;
    }

    .item:hover {
      background: url("../images/select-bd-selected-small.png") repeat-y center 0;
    }

    .bottom {
      height: 6px;
      background: url("../images/select-bd-small-bottom-bg.png") no-repeat;
    }
  }
}

.select-bd {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;

  .bd {
    position: relative;
    overflow: hidden;
    padding: 5px 0;
    background: url("../images/select-bd-bg.png") repeat-y;
  }

  .container {
    width: 214px;
    padding-right: 20px;
    max-height: 200px;
    overflow-y: scroll;
  }

  .triangle {
    display: none;
    position: absolute;
    width: 19px;
    height: 11px;
    left: 100px;
    bottom: 10px;
    background: url("../images/icon-triangle-down.png") no-repeat;
    animation: breath 1.2s .2s infinite;
  }

  .item {
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 3px;
    cursor: pointer;
  }

  .item:hover {
    background: url("../images/select-bd-selected.png") repeat-y 10px 0;
  }

  .bottom {
    height: 8px;
    background: url("../images/select-bd-bottom.png") no-repeat;
  }
}

//  radio
.radio {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .radio-hd {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: -15px;
    width: 9px;
    height: 9px;
    background: url("../images/icon-plus.png") no-repeat;
    transition: all .3s;
  }

  .radio-bd {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
  }

  &.active {
    .radio-hd {
      transform: translate3d(-22px, 0, 0) rotate(180deg);
    }
  }
}

//  checkbox
.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0;
  line-height: 25px;

  &.active {
    .checkbox-hd {
      opacity: 1;
    }
  }
}

.checkbox-hd {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/checkbox-hd.png") no-repeat 2px 7px;
  cursor: pointer;
  opacity: 0;
}

.checkbox-bd {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/checkbox-bd.png") no-repeat;
  cursor: pointer;
}

//  close icon
.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  z-index: 2000;
  background: url("../images/icon-close-big.png") no-repeat center center;
  cursor: pointer;
}

// input
.input {
  width: 181px;
  height: 43px;
  padding: 10px 22px;
  line-height: 43px;
  background: url("../images/select-hd-bg.png") no-repeat 4px 4px;
  border: none;
  color: $darkblue;
  font-size: 18px;

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $darkblue;
  }
  &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $darkblue;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $darkblue;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $darkblue;
  }

  &:focus {
    background: url('../images/input-bg-active.png') no-repeat center center;
  }
}

//  calculator
.night_owl {
  position: relative;
  top: -50px;
}
.no_main_keys {
  padding-top: 20px!important;
}