// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Home Page
  ======================================================================*/
//  color
$orange : #d86f44;
$darkblue: #516a96;

//  time
$globalDelay: .2s;

.full-size {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//  home page
.scene-home {}