// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Car Browsing
  ======================================================================*/
//  color
$orange : #d86f44;
$darkblue: #516a96;

//  time
$globalDelay: .2s;

.full-size {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//  scene new quote
.scene-newQuote  {
  background: url("../images/s-carBrowsing-bg.jpg") no-repeat;
  background-size: cover;
}

//  home page
.newQuote-home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/newQuote-bg.jpg") no-repeat;
  background-size: cover;

  .form {
    color: #516a96;
    top: 168px;
    left: 72px;

    .row {
      margin-bottom: 33px;

      * {
        vertical-align: middle;
      }
    }

    .tt { margin-left: -6px; }

    .select {
      position: relative;
      display: inline-block;
      margin-right: 50px;
    }

    .radio {
      margin-right: 30px;
    }

    .radio-label {
      margin-right: 35px;
    }
  }

  .information {
    top: (247-56)*1px;
    left: (709-59)*1px;
    width: 1141px;
    height: 739px;
    background: url("../images/s-newQuote-information-bg.png") no-repeat;

    .main {
      left: 118px;
      top: 92px;
      width: 545px;
      height: 510px;
      overflow: hidden;

      .bd {
        width: 100%;
        padding: 0 20px 0 0;
      }

      .row {
        position: relative;
        height: 55px;
        line-height: 55px;
        font-size: 20px;
      }

      .title {
        position: absolute;
        left: 0;
        top: 0;
        color: #3f4e73;
      }

      .text {
        position: absolute;
        right: 0;
        top: 0;
        color: #657fab;

        strong {
          color: #d86f44;
          font-size: 36px;
        }
      }
    }

    .triangle {
      position: absolute;
      top: (586+56)*1px;
      left: (318+59)*1px;
      width: 19px;
      height: 11px;
      background: url("../images/icon-triangle-down.png") no-repeat;
      animation: breath 1s .6s infinite;
    }
    
    .btn {
      display: inline-block;
      width: 28px;
      height: 24px;
      margin-left: 10px;
      background: url("../images/icon-conversation.png") no-repeat;
      position: relative;
      top: 7px;
      cursor: pointer;
    }
  }

  .side {
    position: absolute;
    top: (101+56)*1px;
    left: (678+59)*1px;
  }
}

//  gift page
.newQuote-gift {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/newQuote-bg.jpg") no-repeat;
  background-size: cover;

  .panel {
    top: 170px;
    left: 74px;
  }

  .panel-hd {
    position: absolute;
    top: 0;
    left: -6px;
  }

  .panel-bd {
    position: absolute;
    left: -56px;
    top: 18px;
    width: 1718px;
    height: 701px;
    padding-top: 59px;
    padding-left: 58px;
    background: url("../images/newQuote-gift-panel-bg.png") no-repeat;

    .head {
      padding: 6px 0 20px (492-210)*1px;
      line-height: 62px;
      font-size: 24px;
      color: #3f4e73;
      overflow: hidden;

      span {
        float: left;
        margin-left: 210px;
      }
    }

    .wrap {
      overflow: hidden;
    }

    .body {
      width: 100%;
      height: 490px;
      padding: 0 20px 0 0;
      overflow-y: scroll;
    }

    .row {
      height: 56px;
      line-height: 56px;
      font-size: 20px;
      text-align: center;
      overflow: hidden;

      > * {
        float: left;
        width: 258px;
      }
    }

    .name {
      width: 343px;
      padding-left: 45px;
      color: #3f4e73;
      text-align: left;
    }

    .brand, .parameter, .amount {
      color: #657fab;
    }

    .unitPrice, .totalPrice {
      color: $orange;
    }

    .triangle {
      position: absolute;
      top: (608+56)*1px;
      left: (872+59)*1px;
      width: 19px;
      height: 11px;
      background: url("../images/icon-triangle-down.png") no-repeat;
      animation: breath 1s .6s infinite;
    }
  }
}

//  insurance page
.newQuote-insurance {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/newQuote-bg.jpg") no-repeat;
  background-size: cover;

  .panel {
    top: 170px;
    left: 74px;
  }

  .panel-hd {
    position: absolute;
    top: 0;
    left: -6px;
  }

  .panel-bd {
    position: absolute;
    left: -56px;
    top: 18px;
    width: 1813px;
    height: 760px;
    background: url("../images/newQuete-insurance-panel-bg.png") no-repeat;
  }

  .side {
    top: 59px;
    left: 56px;
    width: 312px;
    padding: (108-20)*1px 0 0 88px;

    .row {
      position: relative;
      color: #3f4e73;
      font-size: 20px;
      line-height: 59px;
    }

    .checkbox {
      position: absolute;
      top: 17px;
      left: -40px;
    }
  }

  .main {
    top: 56px;
    left: 456px;

    .wrap {
      height: 638px;
      overflow: hidden;
    }

    .main-item {
      float: left;
      width: 383px;
      height: 636px;
      margin-right: 12px;
      border: 1px solid transparent;
      transition: border .2s;

      &.active {
        border-color: #653b41;
      }
    }

    .row {
      height: 59px;
      line-height: 59px;
      color: #657fab;
      text-align: center;
    }

    .row:first-child {
      padding-top: 24px;
      padding-bottom: 8px;
      font-size: 24px;
      color: #3f4e73;
    }

    .select {
      display: inline-block;
    }
  }

  .btn {
    top: 670px;
    width: 228px;
    height: 63px;
    background: url("../images/newQuote-insurance-choose-btn.png") no-repeat 6px 6px;
    border: none;
    cursor: pointer;

    &.active {
      background: url("../images/newQuote-insurance-choose-btn-active.png") no-repeat;
    }
  }

  .btn01 {
    left: 81px;
  }

  .btn02 {
    left: 479px;
  }

  .btn03 {
    left: 873px;
  }
}



/*======================================================================
      Animations
  ======================================================================*/
@keyframes breath {
  from {
    opacity: 0;
  }

  40%, 60% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}