// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Print Quote
  ======================================================================*/
//  color
$orange : #d86f44;
$darkblue: #516a96;

//  time
$globalDelay: .2s;

.full-size {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//  scene print quote
.scene-printQuote  {
  top: 200px;
  left: 100px;
  background: url("../images/newQuote-bg.jpg") no-repeat!important;
  background-size: cover;
  transform: scale(.7);

  .side {
    top: 170px;
    left: 74px;
    width: 530px;
    line-height: 2.1em;
    color: #6e6e85;
    font-size: 16px;

    .title { margin-left: -6px; margin-bottom: 20px; }

    p {
      padding: 0 0 0 20px;
      span { margin-left: -16px; }
    }

    .btn {
      top: 600px;
      left: 135px;
      width: 228px;
      height: 63px;
      background: url("../images/s-printQuote-btn.png") no-repeat 6px 6px;
      border: none;

      &:active {
        background: url("../images/s-printQuote-btn-active.png") no-repeat;
      }
    }
  }

  .main {
    top: 170px;
    left: 755px;

    .title { margin-left: -6px; margin-bottom: 20px; }

    .body {
      top: 20px;
      left: -56px;
      width: 1095px;
      height: 760px;
      background: url("../images/s-printQuote-panel-bg.png");
    }

    .table {
      position: absolute;
      top: 98px;
      left: 115px;
      width: 896px;
      height: 502px;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 18px;

      &, th, td {
        border: 1px solid #666696;
        color: #657fab;
        padding: 0 15px;
      }

      .tt {
        color: #3f4e73;
        font-size: 20px;
      }

      .carName, .color {
        display: inline-block;
        width: 280px;
        text-align: center;
        color: $orange;
      }

      .priceTitle, .amountTitle {
        display: inline-block;
        width: 136px;
        padding-left: 24px;
      }

      .price, .amount {
        display: inline-block;
        width: 275px;
        text-align: center;
        color: $orange;
      }

      .color, .amount {
        color: #657fab;
      }
    }


  }
}

/*======================================================================
      Animations
  ======================================================================*/
@keyframes breath {
  from {
    opacity: 0;
  }

  40%, 60% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}