// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Query Quote
  ======================================================================*/
//  color
$orange : #d86f44;
$darkblue: #516a96;

//  time
$globalDelay: .2s;

.full-size {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//  transition preset
.leftIn {
  opacity: 0;
  transform: translate3d(-15px, 0, 0);
}
.leftInActive {
  opacity: 1;
  transition: opacity 1s $globalDelay, transform 1s $globalDelay;
  transform: translate3d(0, 0, 0);
}

.rightIn {
  opacity: 0;
  transform: translate3d(15px, 0, 0);
}
.rightInActive {
  opacity: 1;
  transition: opacity 1s $globalDelay, transform 1s $globalDelay;
  transform: translate3d(0, 0, 0);
}

.downIn {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.downInActive {
  opacity: 1;
  transition: opacity 1s $globalDelay, transform 1s $globalDelay;
  transform: translate3d(0, 0, 0);
}

//  scene query quote
.scene-queryQuote  {
  background: url("../images/s-carBrowsing-bg.jpg") no-repeat;
  background-size: cover;

  .panel {
    top: 170px;
    left: 74px;
    @extend .leftIn;
  }

  .panel-hd {
    position: absolute;
    top: 0;
    left: -6px;
  }

  .panel-bd {
    position: absolute;
    left: -56px;
    top: 18px;
    width: 1718px;
    height: 701px;
    padding-top: 59px;
    padding-left: 58px;
  }

  .form {
    width: 545px;

    p { margin-bottom: 25px; }

    .btn {
      display: block;
      width: 228px;
      height: 63px;
      margin-left: 128px;
      border: none;
      cursor: pointer;
    }

    .btn-query {
      margin-top: 90px;
      background: url("../images/s-queryQuote-btn01.png") no-repeat 6px 6px;

      &:active {
        background: url("../images/s-queryQuote-btn01-active.png") no-repeat;
      }
    }

    .btn-add {
      margin-top: 60px;
      background: url("../images/s-queryQuote-btn02.png") no-repeat 6px 6px;

      &:active {
        background: url("../images/s-queryQuote-btn02-active.png") no-repeat;
      }
    }
  }

  .quote-list {
    top: 9px;
    left: 568px;
    width: 1248px;
    height: 723px;
    background: url("../images/s-queryQuote-panel-bg.png") no-repeat;
    overflow: hidden;

    .side {
      float: left;
      width: 210px;
      padding: 98px 0 0 116px;
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      color: #3f4e73;
    }

    .main {
      overflow: hidden;
      float: left;
      width: (265*3)*1px;
      height: 420px;
      padding: 98px 0 0 0;
      font-size: 20px;
      color: #657fab;

      .scroll-wrap {
        height: 420px;
        padding-bottom: 20px;
        overflow-y: hidden;
        overflow-x: scroll;
      }

      .body {
        overflow: hidden;
      }
    }

    .item {
      float: left;
      width: 265px;
      height: 420px;
      text-align: center;

      p {
        height: 60px;
        line-height: 60px;
      }
    }

    .triangle {
      left: (1072+56)*1px;
      top: (278+58)*1px;
      width: 15px;
      height: 26px;
      background: url("../images/icon-triangle-right.png") no-repeat;
      animation: breath 1.2s infinite;
    }

    .btn {
      position: relative;
      color: $orange;
      font-size: 20px;
      background: none;
      border: none;
      cursor: pointer;

      span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        border-top: 1px solid #8e4c46;
      }
    }
  }

  .input {
    display: inline-block;
    margin-right: 32px;
  }

  &.active {
    .panel {
      @extend .leftInActive;
    }
  }
}

/*======================================================================
      Animations
  ======================================================================*/
@keyframes breath {
  from {
    opacity: 0;
  }

  40%, 60% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}